python_telegram_bot==12.2.0
pandas==0.25.3
paramiko==2.6.0
telegram==0.0.1
google-api==0.1.12
google-api-core==1.15.0
google-auth==1.10.0
google-cloud==0.34.0
google-cloud-kms==1.2.1
md5hash==0.0.1
numpy==1.22.0
pandas==0.25.3
python-telegram-bot==12.2.0
requests==2.22.0
urllib3==1.25.7
future